body,
.theme-button,
.search-form-button,
.search-form-input {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background: rgb(112, 0, 0);
  background-image: url("vampireTheme.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}
.theme-button,
.container {
  color: rgb(178, 178, 178, 90%);
}
.theme-button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background: #101010;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 6px 8px 6px rgb(35, 0, 0, 90%);
}
.theme-button:hover {
  cursor: pointer;
  background: rgb(97, 97, 97, 95%);
  color: #101010;
  transform: scale(1.05);
  transition: all 150ms ease-in-out;
}
.container {
  background-image: linear-gradient(#101010 1px, transparent 1px),
    linear-gradient(to right, #101010 1px, transparent 1px);
  background-size: 25px 25px;
  background-color: #000000;
  border-radius: 8px;
  display: block;
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
  padding: 59px 26px 0px 26px;
  box-shadow: 18px 16px 10px rgb(35, 0, 0, 90%);
}
.search-form-input,
.search-form-button {
  padding: 8px;
  width: 250px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  color: #b7b7b7;
}
.search-form {
  position: relative;
  bottom: 45px;
}
.search-form-input {
  background: rgb(97, 97, 97, 75%);
}
.search-form-button {
  background: rgb(130, 5, 7);
  width: 90px;
}
.search-form-button:hover {
  cursor: pointer;
  background: rgb(98, 1, 1);
  transform: scale(1.05);
  transition: all 150ms ease-in-out;
}
h1,
h2,
.current-temp-container,
.current-temp,
.current-temp-icon,
.current-temp-unit,
.conditions {
  position: relative;
}
h1 {
  margin: 0 auto;
  font-size: 70px;
  font-weight: 400;
  bottom: 30px;
  line-height: 1;
}
strong {
  color: rgb(130, 5, 7);
}
h2 {
  margin: 0 auto;
  text-align: left;
  font-size: 34px;
  font-weight: 600;
  bottom: 30px;
}
.current-temp-container {
  display: flex;
  justify-content: start;
}
.current-temp {
  font-size: 110px;
  bottom: 24px;
}
.current-temp-icon {
  width: 78px;
  height: 78px;
  padding-top: 20px;
  padding-right: 5px;
}
.current-temp-unit {
  font-weight: 500;
  font-size: 40px;
  bottom: 5px;
}
.conditions {
  text-align: justify;
  font-size: 24px;
  font-weight: 600;
  margin: 0 auto;
  bottom: 20px;
}
footer {
  color: #a0a0a0;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 5px;
}
a {
  color: rgb(130, 5, 7);
  font-weight: 700;
}
